@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #df8a6bb0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

img {
    margin: auto 40px;
    width: 10%;
}

h1 {
    margin: 50px auto;
}